@config "../../tailwind.config.cjs";
@import "tailwindcss";

@layer base {
    ::-webkit-scrollbar {
        @apply w-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-zinc-900;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-500;
        @apply rounded-full;
    }
}
